body{
	background-color:#f5f5f5;
	font-family:calibri;
}

header{
	background-color:#011e29;
	color:white;
	text-align:center;
	font-size:23px;
	padding:10px;
}

div{
}

.latest-news-section{
	padding: 5px;
	margin:10px;
	height:100%;
	width:190px;
	background-color:white;
	border:1px;
	border-radius:20px;
	text-align:center;
}

.div2{
	margin:10px;
	padding: 5px;
	width:300px;
	height:230px;
	background-color:white;
	border:1px;
	border-radius:20px;
	text-align:center;
}

.pictorial-news-section{
	margin:10px;
	padding: 5px;
	background-color:white;
	width:160px;
	border:1px;
	border-radius:20px;
	text-align:center;
}

img{
	height:80px;
}